# Public hostname, for docker internal network aliases
WEBGIS_PUBLIC_HOSTNAME=dev.g3wsuite.it

# Persistent data folder (projects, database, uploads), mounted into "g3w-suite" container at: `/shared-volume`
WEBGIS_DOCKER_SHARED_VOLUME=./shared-volume

G3WSUITE_ADMIN_USERNAME=admin
G3WSUITE_ADMIN_PASS=admin

##
# 🚨 PostGIS DB
##
G3WSUITE_POSTGRES_USER_LOCAL=g3wsuite
G3WSUITE_POSTGRES_PASS='89#kL8y3D'
G3WSUITE_POSTGRES_DBNAME=g3wsuite
G3WSUITE_POSTGRES_HOST=postgis
G3WSUITE_POSTGRES_PORT=5432

# OPTIONAL: whether activate frontend module
FRONTEND=False

# QGIS Server env variables
# ----------------------------------------------------

# To use PostgreSql Service, mounted into postgis container at: `./secrets/pg_service.conf`,
PGSERVICEFILE=/pg_service/pg_service.conf

QGIS_SERVER_LOG_FILE=/shared-volume/QGIS/error.log
QGIS_SERVER_LOG_LEVEL=2

# Extra QGIS env variables.
# Every QGIS environment variables available as specified on manual
# https://docs.qgis.org/3.22/en/docs/server_manual/config.html#environment-variables
# can be set, important is remember to add thy to `docker-compose.yml` o  `docker-compose-consument.yml`.

# Openrouteservice
# ----------------------------------------------------
#ORS_API_ENDPOINT='https://api.openrouteservice.org/v2'
# Optional, can be blank if the key is not required by the endpoint
#ORS_API_KEY='<your API key goes here>'
# Max number of ranges (it depends on the server configuration)
#ORS_MAX_RANGES=6
# Max number of locations(it depends on the server configuration)
#ORS_MAX_LOCATIONS=2

# Gunicorn settings
# ---------------------------------------------------------
# Timeout for Gunicorn instances. In some cases you may consider increasing this value to 240 or higher to prevent 502 errors in nginx.
G3WSUITE_GUNICORN_TIMEOUT=120

# *Important*: remember to add this env vars also to docker-compose.yml or
# docker-compose-consumer.yml
