*_local.*

.env
.idea
code

config/nginx/nginx.conf

projects

shared-volume/**

# DEMO DATA
!shared-volume/backup/
!shared-volume/backup/demo/
!shared-volume/backup/demo/**
!shared-volume/media/
!shared-volume/media/project_data/
!shared-volume/media/project_data/spatialite/
!shared-volume/media/project_data/spatialite/**
!shared-volume/media/projects/
!shared-volume/media/projects/3857_public-building-management-demo.qgs