# DOCKER
-r /code/requirements_docker.txt
-r /code/requirements_huey.txt

# PLUGINS
-r /code/g3w-admin/caching/requirements.txt
-r /code/g3w-admin/filemanager/requirements.txt
-r /code/g3w-admin/qplotly/requirements.txt

gunicorn
granian[reload]

legacy-cgi                           # HOTFIX: cgi module removed in Python 3.13, needed by TileStache
meson-python                         # HOTFIX: for numpy==1.26.4 (required by g3w-admin-intercad), not available in Python 3.14
ninja                                # HOTFIX: for numpy==1.26.4 (required by g3w-admin-intercad), not available in Python 3.14
cython                               # HOTFIX: for numpy==1.26.4 (required by g3w-admin-intercad), not available in Python 3.14

# DEBUG
debugpy
memray